body{
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;


.tabela{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   }
  #box{
      margin: 20px auto;
      background-color:#a390e8;
      height:7cm;
      width: 18cm;
      display:flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
   }
}